.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.results-language-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}

.results-language-bar * {
    margin-top: 0.2rem;
}
#result-handwriting {
    font-size: 1.7rem;
}

.results-language-bar-buttons {
    display: flex;
    justify-content: space-evenly;
}

.results-language-bar-buttons button {
    margin: 0.2rem;
}
button {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    background-color:  rgb(123, 123, 123);
    color: white;
}

button:hover {
    font-family: "Inter", sans-serif;
    background-color: white;
    color:  black;

}

.results-additional-info {
    margin: 2rem auto;
}

.results-list {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
