.select-bar {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-items: baseline;
  justify-content: space-evenly;
  margin: 1rem auto;
}

.select-bar-item {
  display: flex;
  align-items: flex-start;
}

select {
  font-family: "Inter", sans-serif;
  background-color: rgb(123, 123, 123);
  color: white;
  border: 0px solid;
  padding: 0.2rem;
  text-align: center;
}

input {
  font-family: "Inter", sans-serif;
  background-color: rgb(123, 123, 123);
  border: 0px solid;
  padding: 0.2rem;
  color: white;
  text-align: center;
}

::placeholder {
  color: white;
}

@media (max-width: 300px) {
  .select-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
  }
  .select-bar-item {
    margin: 0.2rem;
  }
}

@media (min-width: 1000px) {
  .select-bar {
    width: 30%;
    display: flex;
    align-items: baseline;
    justify-items: baseline;
    justify-content: space-evenly;
    margin: 1rem auto;
  }
}
