.others {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  align-items: flex-start;
}

.others-button {
  width: 50%;
  padding: 0.2rem;
  margin: 1rem auto;
  border: 0px;
}

.others-block {
  margin: 1rem auto;
}

.others-details {
  font-weight: 600;
}
